<div class="background-wrapper">
  <div class="menu-container">
    <h2 class="menu-title">Bienvenido a Tu Espacio Ideal</h2>
    <p class="menu-description">Selecciona una opción para comenzar</p>

    <div class="options">
      <div class="option-card" (mouseover)="onMouseOver('comprar')" (mouseleave)="onMouseLeave('comprar')">
        <div class="image-frame square">
          <img src="assets/comprar.png" alt="Comprar" class="option-image" id="comprar-img">
        </div>
        <h3>Comprar</h3>
        <p>Encuentra la casa de tus sueños y hazla tuya.</p>
        <button [routerLink]="['/catalog']" class="select-btn"><i class="fa-solid fa-house"></i> Seleccionar</button>
      </div>

      <div class="option-card" (mouseover)="onMouseOver('rentar')" (mouseleave)="onMouseLeave('rentar')">
        <div class="image-frame square">
          <img src="assets/rentar.png" alt="Rentar" class="option-image" id="rentar-img">
        </div>
        <h3>Rentar</h3>
        <p>Vive temporalmente en un lugar que te haga sentir como en casa.</p>
        <button [routerLink]="['/renta']" class="select-btn"><i class="fa-solid fa-key"></i> Seleccionar</button>
      </div>

      <div class="option-card" (mouseover)="onMouseOver('planear')" (mouseleave)="onMouseLeave('planear')">
        <div class="image-frame square">
          <img src="assets/planear.png" alt="Planear estadía corta" class="option-image" id="planear-img">
        </div>
        <h3>Planear estadía corta</h3>
        <p>Encuentra la mejor opción para una estadía corta y cómoda.</p>
        <button [routerLink]="['/estadia']" class="select-btn"><i class="fa-solid fa-calendar-days"></i> Seleccionar</button>
      </div>

      <div class="option-card" (mouseover)="onMouseOver('servicios')" (mouseleave)="onMouseLeave('servicios')">
  <div class="image-frame square">
    <img src="assets/imagenservicios.png" alt="Conoce Nuestros Servicios!" class="option-image" id="planear-img">
  </div>
  <h3>Conoce Nuestros Servicios!</h3>
  <p>
    📸 <strong>Fotografía profesional</strong>,<br>
    ⚖️ <strong>Asesoría legal</strong>,<br>
    🛠️ <strong>Remodelación y mejoras</strong>,<br>
    🏠 <strong>Gestión de alquileres</strong>.<br>
    ¡Todo en un solo lugar!
  </p>
  <button [routerLink]="['/services-list']" class="select-btn">
    <i class="fa-solid fa-house"></i> Seleccionar
  </button>
</div>



    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

