<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
      <img src="assets/imagenn.jpeg" alt="Logo de Casa" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-danger text-white" href="#" style="display: inline-flex; align-items: center;">
            <i class="bi bi-box-arrow-right me-2"></i> SALIR
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="sidebar">
  <h4 class="text-white text-center">Panel de Administración</h4>

  <!-- Botón para Agregar Propiedad -->
  <a class="btn btn-link" [routerLink]="['/property-detail']" routerLinkActive="active">Administrar Propiedades</a>

  <!-- Botón para Ver Propiedades -->
  <a class="btn btn-link" [routerLink]="['/adminservicios']" routerLinkActive="active">Administrar Solicitudes de Servicios</a>

  <!-- Botón para Ver Propiedades -->
  <a class="btn btn-link" [routerLink]="['/admincitas']" routerLinkActive="active">Administrar Citas</a>

  <a class="btn btn-link" [routerLink]="['/nuevo-admin']" routerLinkActive="active">Crear Nuevo Administrador</a>

</div>


<a class="nav-link text-white">Ingresar</a>


<div class="container">
  <div class="row">
    <!-- Columna izquierda: Formulario para agregar propiedades -->
    <div class="col-md-4 mb-5">
      <h2 class="text-center mb-4">Datos</h2>
      <form (ngSubmit)="addItem()" class="form-container mb-5">

        <!-- Campo para ingresar el ID -->
        <div class="form-group">
          <input class="form-control" type="text" placeholder="ID de la Propiedad" [(ngModel)]="newItem.id" name="id" required>
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="newItem.name" name="name" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Dirección" [(ngModel)]="newItem.address" name="address" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" placeholder="Precio" [(ngModel)]="newItem.price" name="price" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Imagen (URL)" [(ngModel)]="newItem.image" name="image" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Categoria" [(ngModel)]="newItem.categoria" name="categpry" required>
        </div>

        <!-- Mostrar el botón adecuado según el modo (Agregar o Modificar) -->
        <button *ngIf="!editing" type="submit" class="btn btn-primary btn-block">Agregar Propiedad</button>
        <button *ngIf="editing" type="button" class="btn btn-warning btn-block" (click)="addItem()">Modificar Propiedad</button>
      </form>
    </div>

    <div class="col-md-8">
      <h2 class="text-center mb-4">Propiedades disponibles</h2>
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of items | async; trackBy: trackByKey">
          <div class="card mb-4">
            <img [src]="item.image" class="card-img-top" alt="{{ item.name }}" style="height: 150px; object-fit: cover;">
            <div class="card-body text-center">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.address }}</p>
              <p class="card-text">{{ item.categoria }}</p>
              <p class="card-text"><strong>Precio: Q </strong> {{ item.price }}</p>
              <button class="btn btn-secondary btn-sm mr-2" (click)="editItem(item)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="deleteItem(item.id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
